In [1]:
import tensorflow as tf
import pickle
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model

c:\Users\gaurv\Downloads\STUDY\Deep Learning\venv\Lib\site-packages\keras\src\export\tf2onnx_lib.py:8: FutureWarning: In the future `np.object` will be defined as the corresponding NumPy scalar.
  if not hasattr(np, "object"):

In [2]:
# Loading Model from pickle file
model = load_model("C:/Users/gaurv/Downloads/STUDY/Deep Learning/Implementations/ANN/Models/model.h5")

# Loading scaler and encoders from pickle file
with open("C:/Users/gaurv/Downloads/STUDY/Deep Learning/Implementations/ANN/Models/scaler.pkl","rb") as file:
    scaler = pickle.load(file)

with open("C:/Users/gaurv/Downloads/STUDY/Deep Learning/Implementations/ANN/Models/one_hot_encoder.pkl","rb") as file:
    one_hot_encoder = pickle.load(file)

with open("C:/Users/gaurv/Downloads/STUDY/Deep Learning/Implementations/ANN/Models/label_encoder.pkl","rb") as file:
    label_encoder = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
input_data = {
'CreditScore': 600,
'Geography': 'France',
'Gender': 'Male',
'Age': 40,
'Tenure': 3,
'Balance': 60000,
'NumOfProducts': 2,
'HasCrCard': 1,
'IsActiveMember': 1,
'EstimatedSalary': 50000
}

In [4]:
geography_encoded = one_hot_encoder.transform([[input_data['Geography']]]).toarray()

c:\Users\gaurv\Downloads\STUDY\Deep Learning\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [5]:
geography_encoded = pd.DataFrame(geography_encoded,columns=one_hot_encoder.get_feature_names_out())
geography_encoded

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [6]:
input_data = pd.DataFrame([input_data])
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [7]:
input_data = pd.concat([input_data.reset_index(drop=True),geography_encoded],axis=1)
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [8]:
input_data.drop('Geography',axis=1,inplace=True)

In [9]:
input_data['Gender'] = label_encoder.transform(input_data['Gender'])
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [10]:
input_data_scaled = scaler.transform(input_data)
input_data_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [12]:
prediction = model.predict(input_data_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step

array([[0.03805164]], dtype=float32)

In [13]:
prediction_proba = prediction[0][0]
prediction_proba

np.float32(0.038051635)

In [14]:
if prediction_proba > 0.5:
    print("Customer is likely to churn")
else:
    print("Customer is not likely to churn")

Customer is not likely to churn